.navbar {
  padding: var(--mantine-spacing-sm);
  min-width: 20%;
  max-height: fit-content;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.links {
  margin-left: calc(var(--mantine-spacing-xs) * -1);
  margin-right: calc(var(--mantine-spacing-xs) * -1);
}

.linksInner {
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}
