.link {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  padding-inline: 1rem;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    cursor: pointer;
  }
}