.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  padding: var(--mantine-spacing-sm);
  min-width: 20%;
  max-height: fit-content;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.links {
  margin-left: calc(var(--mantine-spacing-xs) * -1);
  margin-right: calc(var(--mantine-spacing-xs) * -1);
}

.linksInner {
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
}
