.header_container {
  margin: 0;
  padding: 0;
  padding-top: 1.3rem;
  margin-right: -0.65rem;
  justify-content: flex-end;
  align-items: center;

  .filter_btn {
    margin-right: 3rem;
    margin-bottom: 1rem;
  }
}
