.control {
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: var(--color1);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: var(--color2);
  }
}

.link {
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl);
  color: var(--color1);
  border-left: 1px solid var(--mantine-color-gray-3);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0));
    color: var(--color2);
  }
}

.chevron {
  transition: transform 200ms ease;
}