.table_container {
  background-color: transparent !important;
  height: 60vh;
  border: 2px solid white;
  border-radius: 1.5rem;
  margin: 1rem;

  .scrollThumb {
    background-color: white;
  }
  
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  transition: box-shadow 150ms ease;
  color: var(--color1);
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
  }
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}

.th {
  padding: 0;
}

.control {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.icon {
  border-radius: rem(21px);
}

.input {
  input,
  select {
    text-align: center;
    background-color: var(--color2);
    border-color: var(--color2);
    color: white;
    
    &:hover {
      background-color: var(--color1);
      border-color: var(--color1);
    }
  }
  
  select {
    option {
      background-color: var(--color1);
      border-color: var(--color1);
    }
  }
}